/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  SCSS VARIABLES
  ----------------------------------------------------------------------------------------------------------------------
*/


$headerFont:    'Roboto Condensed', Helvetica, sans-serif;
$bodyFont: 'Cabin', Sans-Serif;
$levelOneHeader: 1.5rem;
$brandPrimaryTextColor: #303030;
$brandReverseTextColor: #F7FCFF;
$brandPrimaryBlue: #2D6284;
$brandPrimaryWhite: #F7FCFF;
$brandPrimaryBlack: #303030;
$brandPrimaryAccent: #D9CB9E;
$brandPrimaryCta: #E79B25;
$brandPrimaryBlueGradient: linear-gradient(90deg, #2d6284 75%, #295877 100%);
$errorRedBorder: #f00;
$errorRedBackground: #fcc;