@use 'reset.scss';

@import 'variables';
@import 'mixins';

$flexGutter: 1.5rem;
$pageGutter: 0 1.5rem;
$hexCP: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);




/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  TAG STYLING
  ----------------------------------------------------------------------------------------------------------------------
*/



body {
  font: 100% $bodyFont;
  color: $brandPrimaryTextColor;
  background: #1E4158;
  
  
}

/*
MQ Mixin

  @include mediaBreakpoint(desktop){
  background: red;
}; */

h1{
  font: 2.5em $headerFont;
  font-weight: bold;
}


/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  GENERIC ELEMENTS
  ----------------------------------------------------------------------------------------------------------------------
*/

.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

.content{
  width: calc(100% - 3rem);
  max-width: 1200px;
  margin:0 1.5rem;
  
}

.button{
  padding:10px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  
  &:hover{
    cursor:pointer;
  }
  &.cta{
    background-color:#EBAC49;
    
  }
}

.reverseBlock{
  background: #303030;
  color: $brandReverseTextColor;
}

.transitionDown{
    width: 60%;
    border-top: 4vh solid #303030;
    border-left: 17vw solid transparent;
    border-right: 17vw solid transparent;
}

.transitionUp{
    width: 60%;
    border-bottom: 4vh solid #303030;
    border-left: 17vw solid transparent;
    border-right: 17vw solid transparent;
}


/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  JS Scroll Animation Classes
  ----------------------------------------------------------------------------------------------------------------------
*/

.fadeIn{
  opacity: 0;
  transition:opacity 250ms ease-in;

  &.appear{
    opacity: 1;
  }

}

.slideIn{
    transition: transform 1s, opacity 1s ease-in;

    &.fromLeft{
      transform: translateX(-90%);
      @include mediaBreakpoint(laptop){
        transform: translateX(-100%);
      }
    }

    &.fromRight{
      transform: translateX(90%);
      @include mediaBreakpoint(laptop){
        transform: translateX(100%);
      }
    }

    &.appear{
      transform: translateX(0%);
    }
}


/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  HEADER
  ----------------------------------------------------------------------------------------------------------------------
*/

header{
  background: #2D6284;
  color:#fff;
  width:100%;
  position: fixed;
  z-index: 1000;

  .content{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
  }

  .brand{
    font:2em $headerFont;
    font-weight: bold;
    
  }

  nav{
    display:none;
      @include mediaBreakpoint(desktop){
        display:flex;
        justify-content: space-between;
        font-size: 1.2em;
        width:20vw;
        

        
        div{
          display: flex;
          align-items: center;
          justify-content: center;
          padding:10px;
        }

        &.navAbout{
          .navAbout{
            background:#303030;
            color:#fff;

          }
        }

        

        &.navWork{
          .navWork{
            background:#303030;
            color:#fff;

          }
        }

        &.navSkillset{
          .navSkillset{
            background:#303030;
            color:#fff;

          }
        }

        &.navHobbies{
          .navHobbies{
            background:#303030;
            color:#fff;

          }
        }
        
        &.navContact{
          .navContact{
            background:#303030;
            color:#fff;

          }
        }
    }
    
  }

  
}


/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  ABOUT ME
  ----------------------------------------------------------------------------------------------------------------------
*/





.intro {
  padding-top: 50px;
  min-height: 100vh;
  @include mediaBreakpoint(laptop){
  padding-top: 0;
  display: flex;  
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  }

  .content{
    display: flex;    
    flex-direction: column;
    @include mediaBreakpoint(laptop){
      width: calc(100% - 3rem);
      max-width: 1200px;
      flex-direction: row;
      align-items: center;
    }
  }

  .bioContact{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include mediaBreakpoint(laptop){
      align-items: flex-start;
      flex-direction: column;
      width: 25%;
      padding-right: $flexGutter;
    }
    

    .avatar{
      width:25%;
      @include mediaBreakpoint(laptop){
        width:100%;
        display: flex;
      }

      img{
        border-radius: 50%;
        width:100%;
        max-width: 200px;
      }
    }


    .picText{
      width:calc(75% - $flexGutter);
      padding-left: $flexGutter;
      @include mediaBreakpoint(laptop){
        padding-left: 0;
        width:100%;
      }
  
      strong{
        font-size: 5.2vw;
        @include mediaBreakpoint(laptop){
          font-size: 1.3rem;
          display: block;
          text-align: center;
        }
        margin:10px 0;
      }
  
  
      .socialLinks{
        margin:10px 0;
        display: flex;
        
  
  
  
        a{
          font-size: 1.8em;
          width:40px;
          height: 40px;
          color:#fff;
          display: block;
          text-decoration: none;
  
          &:not(:first-child) {
            padding-left: $flexGutter;
          }
          &:hover{
            font-size: 2em;
            color: #ECE5CF;
          }
        }
  
      }
    }
    
  }
  
  
 

  .skillset{
    @include mediaBreakpoint(tablet){
      width:75%;
    }
    

    .headline{
      font: 3.6em $headerFont;
      text-align: center;
      padding: $flexGutter 0;
      display: block;
    }

    .skills{
      width: 100%;
      display: flex;
      flex-direction: column;
      @include mediaBreakpoint(tablet){
        flex-direction: row;
        justify-content: space-between;
      }

    }

    .skillIcon{
      display: flex;
      flex-direction: row;
      @include mediaBreakpoint(tablet){
        flex-direction: column;
        width:calc(33% - $flexGutter);
        align-items: center;

        strong{
          display:block;
          text-align: center;
        }
      }

      

      .icon{
        max-width: 75px;
        padding-right: $flexGutter;
        @include mediaBreakpoint(tablet){
          max-width: 150px;
          padding:0;
        }
      }
    }
  }

  





}



/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  JOB CARDS
  ----------------------------------------------------------------------------------------------------------------------
*/

.jobs{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.jobPosition{
  background: #fff;
  box-shadow: #303030 3px 3px 3px;
  border:1px solid #ddd;
  width:100%;
  padding:$flexGutter;
  
  @include mediaBreakpoint(tablet){
    
  }

  @include mediaBreakpoint(desktop){
    max-width: 1200px; 
  }

  
  margin:25px 0;

  .jobContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mediaBreakpoint(desktop){
      flex-wrap: nowrap;
    }
      
    }

  
  
  .wrapper{
    position: relative;
    z-index: 10;
  }

  img{
    max-width: 700px;
    width: 100%;
    align-self: center;
    padding-right: $flexGutter;
  }

  @include mediaBreakpoint(desktop){
    .jobDesc{
      width:50%
    }
  }

  @include mediaBreakpoint(tablet){

    


  &.lithia{
    
    h1{
      background:url('../img/portfolio/LithiaLogo.jpg');
    }
  }

  &.bap{
    
    h1{
      background:url('../img/portfolio/BAPLogo.jpg');
    }
  }
  &.ms{
    
    h1{
      background:url('../img/portfolio/MSLogo.jpg');
    }
  }

  &.fmg{
    
    h1{
      background:url('../img/portfolio/FMGLogo.jpg');
    }
  }

  

  }

  .jobHeader{
    h1{
      text-align: center;
      font-size: 2rem;
      @include mediaBreakpoint(tablet){
        font-size: 2.5rem;
        display: flex;
        justify-content: space-between;
        text-align: left;
        display: block;
        min-height: 115px;
      }
      background-position: top right;
      background-repeat: no-repeat;
      margin: 10px 0;
      align-items: center;

      span{
        display: block;
        font-size: .65em;
      }

    }  
  }


  .jobFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include mediaBreakpoint(tablet){flex-direction: row; }

    .tagList{
      list-style-type: none;
      display: flex;
      padding-left: 0;
      flex-wrap: wrap;
      width:100%;
      @include mediaBreakpoint(tablet){width:75%; }
  
      li{
        margin:1px 5px;
        border: 1px solid;
        border-radius:3px;
        padding: 1px 3px;
      }
    }

  }
  
  .button{
    opacity: 1;
    width: 100%;
    text-align: center;
    padding:20px 0;
  }

  &.design{
    &:hover .button{
      opacity: 0;
    }
  }


  @include mediaBreakpoint(tablet){
    .button{
      opacity: 0;
      transition: opacity 250ms ease-in;
      width:15%;
      padding:10px 0;
    }
  
    &:hover .button{
      opacity: 1;
    }
  }
  
}



.designContent{
  display: block;

  
  

  .entry{
    margin:25px 0;


    .main{
      @include mediaBreakpoint(tablet){
        display: flex;
        align-items: center;
        
      }

    }

    

    @include mediaBreakpoint(tablet){
      &:hover .button{
        opacity: 1;
      }
    }

    .jobFooter{
      width: 100%;
    }
  } 
}

.skillGraph{
  
  .entity{
   
    display: flex;
    margin:-1px 10px;
    border:1px solid;

    .topic{
      font-weight:bold;
      border-right: 1px solid;
      text-align: center;
      padding:5px;
      background-color: #fff;
      width: 25%;
      max-width: 100px;
    }

    .rank {
      flex-grow: 2;
      position: relative;
      .label{
        position: absolute;
        background:transparent;
        right:5px;
      }
      div{
        background: rgb(45,98,132);
        background: rgba(45,98,132,1);
        height: 100%;
        color:#000;
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
    
    .bar100{
      width:100%;
      .label{
        color:#fff;
      }
    }

    .bar75{
      width:75%;
    }

    .bar50{
      width:50%;
    }

    .bar25{
      width:25%;
    }
  }
  
}

/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  JobSkills
  ----------------------------------------------------------------------------------------------------------------------
*/

.jobSkills{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  Hobbies
  ----------------------------------------------------------------------------------------------------------------------
*/

.hobbies{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#f7fcff;

 .content{
   margin:50px 0;
   display: flex;
 }

 img{
  display: none;
}
 @include mediaBreakpoint(laptop){
  .hobbyImg{
    width: 33%;
    margin-right: $flexGutter;

    img{
      display: block;
      width: 100%;
    }
  }

  .hobbyText{
    width:calc(66% - $flexGutter);
  }

  
 }
 
   
    
    

    p{
      font-size: 1.3em;
    }
    strong{
      font-size: 2em;
      display: block;
      text-align: center;
    }


   
}







/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  Concact
  ----------------------------------------------------------------------------------------------------------------------
*/



.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h2{
    color:$brandReverseTextColor;
    text-align: center;
    padding-bottom: 7px;
    border-bottom-style: solid;
    border-width: 1px;
    border-image: linear-gradient(90deg, #1e4158 20%, #f7fcff 50%, #1e4158 80%) 1;
                  
  }
 
  form{
    margin:50px 0;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    input{
      width:360px;
      margin-bottom: $flexGutter;
      height: 40px;
    }

    textarea{
      width: 360px;
      height: 120px;
    }
  }
}



/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  CSS ANIMATION CLASSES
  ----------------------------------------------------------------------------------------------------------------------
*/


/*https://alligator.io/css/transition-box-shadows/*/

.shadowTransition {
  position: relative; /* For positioning the pseudo-element */
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.3);
}

.shadowTransition::before {
  /* Position the pseudo-element. */
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Create the box shadow at expanded size. */
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 500ms;
}

.shadowTransition:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: 1;
}