@use 'reset.scss';
@use 'jsStyling.scss';
@import "variables";
@import "mixins";

$flexGutter: 1.5rem;
$pageGutter: 0 1.5rem;
$hexCP: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  TAG STYLING
  ----------------------------------------------------------------------------------------------------------------------
*/

html {
  scroll-behavior: smooth;
}

body {
  font: 100% $bodyFont;
  color: $brandPrimaryTextColor;
  background: #1e4158;
  letter-spacing: .75px;
}

a, a:visited {
  color:$brandLinkTextBlue;
}




/*
MQ Mixin

  @include mediaBreakpoint(desktop){
  background: red;
}; */

h1 {
  font: 2.5em $headerFont;
  font-weight: bold;
}

form{

  input{
    font-family: $headerFont;
  }
  
  input:not(:focus):not(:placeholder-shown):invalid {
    background-color: $errorRedBackground;
  }

  

}



/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  GENERIC ELEMENTS
  ----------------------------------------------------------------------------------------------------------------------
*/

.content {
  width: calc(100% - 3rem);
  max-width: 1200px;
  margin: 0 1.5rem;
}

.button {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: 1px;
  

  &:hover {
    cursor: pointer;
  }
  &.cta {
    background-color: $brandPrimaryCta;
    color: $brandPrimaryTextColor;
  }
}

.reverseBlock {
  background: $brandPrimaryBlack;
  color: $brandReverseTextColor;

  a, a:visited{
    color:$brandLinkTextReverse;
  }
}

.transitionDown {
  width: 60%;
  border-top: 4vh solid $brandPrimaryBlack;
  border-left: 17vw solid transparent;
  border-right: 17vw solid transparent;
}

.transitionUp {
  width: 60%;
  border-bottom: 4vh solid $brandPrimaryBlack;
  border-left: 17vw solid transparent;
  border-right: 17vw solid transparent;
}





/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  HEADER
  ----------------------------------------------------------------------------------------------------------------------
*/

header {
  background: $brandPrimaryBlue;
  color: $brandReverseTextColor;
  width: 100%;
  position: fixed;
  z-index: 1000;

  .content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .brand {
    font: 2em $headerFont;
    font-weight: bold;
    padding-block:10px;
    text-align: center;
    width:100%;

    @include mediaBreakpoint(tablet){
      width:unset;
      text-align: unset;
    }
  }

  nav {
    display: none;
    @include mediaBreakpoint(tablet) {
      display: flex;
      justify-content: space-between;
      font-size: 1.2em;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor:pointer;
      }

      &.navAbout {
        .navAbout {
          background: $brandPrimaryBlack;
          color: $brandReverseTextColor;
        }
      }

      &.navWork {
        .navWork {
          background: $brandPrimaryBlack;
          color: $brandReverseTextColor;
        }
      }

      &.navSkillset {
        .navSkillset {
          background: $brandPrimaryBlack;
          color: $brandReverseTextColor;
        }
      }

      &.navHobbies {
        .navHobbies {
          background: $brandPrimaryBlack;
          color: $brandReverseTextColor;
        }
      }

      &.navContact {
        .navContact {
          background: $brandPrimaryBlack;
          color: $brandReverseTextColor;
        }
      }
    }
  }
}

/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  ABOUT ME
  ----------------------------------------------------------------------------------------------------------------------
*/

.intro {
  padding-top: 50px;
  min-height: calc(100vh);
  display: flex;
  justify-content: space-around;

  @include mediaBreakpoint(tablet) {
    align-items: center;
    flex-direction: column;
  }

  @include mediaBreakpoint(desktop){
    padding-top: 0;
  }

  

  .content {
    display: flex;
    flex-direction: column;
    

    @include mediaBreakpoint(laptop) {
      width: calc(100% - 3rem);
      max-width: 1200px;
      flex-direction: row;
      align-items: center;
    }
  }

  .skillset {
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-top:50px;

    @include mediaBreakpoint(tablet){
      margin-top:0;
      display:grid;
      grid-template-columns: 200px 1fr;
      
      gap: 1rem 1rem;
    }

    @include mediaBreakpoint(tablet){
      gap: 0 2rem; 
    }

    @include mediaBreakpoint(laptop){
      grid-template-columns: 300px 1fr;
    }
    @include mediaBreakpoint(desktop){
      grid-template-rows:1fr 1fr;
      align-items: center;
    }

    img{
      border-radius:50%;
      height:250px;
      width:250px;
      
      @include mediaBreakpoint(tablet){

        height:200px;
        width:200px;
        grid-row:1 / 3;
        align-self: start;
      }

      @include mediaBreakpoint(laptop){
        align-self: center;
        height:300px; 
        width:300px;
      }

      @include mediaBreakpoint(desktop){
        
      }
    }

    p{
      font-size: clamp(1rem, 0.451rem + 2.439vw, 1.5rem);
      
      @include mediaBreakpoint(laptop){
        margin-bottom: 0;
      }
    }

    .headline {
      font-family: $headerFont;
      font-size: clamp(3rem, -0.841rem + 17.073vw, 6.5rem);
      text-align: center;
      display: block;
      font-weight: 700;
      margin-top:0;
      padding:0;
     
      @include mediaBreakpoint(tablet){
        grid-column: 1 / 3;
      }

      

      @include mediaBreakpoint(laptop) {
        grid-column:unset;
        grid-column-start: 2;
        padding-top: 0;
        font-size: clamp(6.25rem, 0.825rem + 8.75vw, 7.75rem);
        
      }

      @include mediaBreakpoint(desktop){
        font-size: clamp(8rem, 5.842rem + 2.632vw, 8.75rem);
      }

    

    }

    .skills {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: $flexGutter;

      @include mediaBreakpoint(tablet) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .skillIcon {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      @include mediaBreakpoint(tablet) {
        width: calc(33% - $flexGutter);
      }

      strong {
        display: block;
        text-align: center;
      }

      .icon {
        max-width: 200px;
        @include mediaBreakpoint(tablet) {
          max-width: 150px;
        }
      }

      p {
        text-align: center;
        @include mediaBreakpoint(tablet) {
          text-align: left;
        }
      }
    }
  }
}

/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  JOB CARDS
  ----------------------------------------------------------------------------------------------------------------------
*/

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.jobPosition {
  background: #fff;
  box-shadow: $brandPrimaryBlack 3px 3px 3px;
  border: 1px solid #ddd;
  width: 100%;
  padding: $flexGutter;

  @include mediaBreakpoint(tablet) {
   
  }

  @include mediaBreakpoint(desktop) {
    max-width: 1200px;
  }

  margin: 25px 0;

  .jobContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include mediaBreakpoint(desktop) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  .wrapper {
    position: relative;
    z-index: 10;
  }

  img {
    max-width: 700px;
    width: 100%;
    align-self: center;
    padding-right: $flexGutter;
    @include mediaBreakpoint(laptop) {  
      width: calc(50% - 1.5rem); 
    }
  }
  .jobDesc {
      width:100%;
    @include mediaBreakpoint(laptop) {  
        width: 50%;
    }

    ul{
      padding-left: 1rem;
    }
  }

  @include mediaBreakpoint(tablet) {
    &.redstone{
      h2{
        background: url("../img/portfolio/RedstoneLogo.png");
      }
    }
    &.lithia {
      h2 {
        background: url("../img/portfolio/LithiaLogo.jpg");
      }
    }

    &.bap {
      h2 {
        background: url("../img/portfolio/BAPLogo.jpg");
      }
    }
    &.ms {
      h2 {
        background: url("../img/portfolio/MSLogo.jpg");
      }
    }

    &.fmg {
      h2 {
        background: url("../img/portfolio/FMGLogo.jpg");
      }
    }
  }

  .jobHeader {
    h2 {
      text-align: center;
      font-size: 2rem;
      @include mediaBreakpoint(tablet) {
        font-size: 2.5rem;
        display: flex;
        justify-content: space-between;
        text-align: left;
        display: block;
        min-height: 115px;
      }
      background-position: top right;
      background-repeat: no-repeat;
      margin: 10px 0;
      align-items: center;

      span {
        display: block;
        font-size: 0.65em;
      }
    }
  }

  .jobFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include mediaBreakpoint(tablet) {
      flex-direction: row;
    }

    h3{
      margin:0;
      width: 100%;
      text-align: center;
      @include mediaBreakpoint(tablet) {
        text-align: left;
      }
    }

    .tagList {
      list-style-type: none;
      display: flex;
      padding-left: 0;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 5px;
      @include mediaBreakpoint(tablet) {
        
      }

      li {
        margin: 3px 5px;
        border: 1px solid #bebebe;
        background: #ebebeb;
        border-radius: 3px;
        padding: 3px 5px;
      }
    }
  }

  .button {
    opacity: 1;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  &.design {
    &:hover .button {
      opacity: 0;
    }
  }

  .jobSkills{
    width:100%;
    @include mediaBreakpoint(tablet) {
      width:calc(100% - 160px);
    }
  }

  @include mediaBreakpoint(tablet) {
    .button {
      width: 150px;
      padding: 10px 5px;
    }


  }
}

.designContent {
  display: block;

  .entry {
    margin: 25px 0;

    .main {
      @include mediaBreakpoint(tablet) {
        display: flex;
        align-items: center;
      }
    }

    @include mediaBreakpoint(tablet) {
      &:hover .button {
        opacity: 1;
      }
    }

    .jobFooter {
      width: 100%;
    }
  }
}

.skillGraph {
  .entity {
    display: flex;
    margin: -1px 10px;
    border: 1px solid;

    .topic {
      font-weight: bold;
      border-right: 1px solid;
      text-align: center;
      padding: 5px;
      background-color: #fff;
      width: 25%;
      max-width: 100px;
    }

    .rank {
      flex-grow: 2;
      position: relative;
      .label {
        position: absolute;
        background: transparent;
        right: 5px;
      }
      div {
        background: $brandPrimaryBlue;
        height: 100%;
        color: $brandPrimaryTextColor;
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }

    .bar100 {
      width: 100%;
      .label {
        color: $brandReverseTextColor;
      }
    }

    .bar75 {
      width: 75%;
    }

    .bar50 {
      width: 50%;
    }

    .bar25 {
      width: 25%;
    }
  }
}

/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  JobSkills
  ----------------------------------------------------------------------------------------------------------------------
*/

.jobSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  Hobbies
  ----------------------------------------------------------------------------------------------------------------------
*/

.hobbies {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $brandReverseTextColor;
  min-height: 105vh;

  .content {
    margin: 50px 0;
    display: flex;
  }

  img {
    display: none;
  }
  @include mediaBreakpoint(laptop) {
    .hobbyImg {
      width: 33%;
      margin-right: $flexGutter;

      img {
        display: block;
        width: 100%;
      }
    }

    .hobbyText {
      width: calc(66% - $flexGutter);
    }
  }

  p {
    font-size: 1.3em;
  }
  strong {
    font-size: 2em;
    display: block;
    text-align: center;
  }
}

/* 
  ~~~-------------------------------------------------------------------------------------------------------------------
  Contact
  ----------------------------------------------------------------------------------------------------------------------
*/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $flexGutter 0;
    @include mediaBreakpoint(laptop) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .bioContact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include mediaBreakpoint(laptop) {
      align-items: flex-start;
      flex-direction: column;
      width: 25%;
      padding-right: $flexGutter;
    }

    .avatar {
      @include mediaBreakpoint(laptop) {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      img {
        border-radius: 50%;
        width: 100%;
        max-width: 200px;
      }
    }

    .picText {
      width: calc(80% - $flexGutter);
      padding-left: $flexGutter;
      color: $brandReverseTextColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mediaBreakpoint(laptop) {
        padding-left: 0;
        width: 100%;
      }

      strong {
        font-size: 5.2vw;
        @include mediaBreakpoint(laptop) {
          font-size: 1.3rem;
          display: block;
          text-align: center;
        }
        margin: 10px 0;
      }

      .socialLinks {
        margin: 10px 0;
        display: flex;

        a {
          font-size: 1.8em;
          width: 40px;
          height: 40px;
          color: $brandReverseTextColor;
          display: block;
          text-decoration: none;

          &:not(:first-child) {
            padding-left: $flexGutter;
          }
          &:hover {
            font-size: 2em;
            color: #ece5cf;
          }
        }
      }
    }
  }

  .contactForm {
    @include mediaBreakpoint(laptop) {
      width: 75%;
    }
    h2 {
      color: $brandReverseTextColor;
      text-align: center;
      padding-bottom: 7px;
      border-bottom-style: solid;
      border-width: 1px;
      border-image: linear-gradient(
          90deg,
          #1e4158 20%,
          #f7fcff 50%,
          #1e4158 80%
        )
        1;
    }

    form {
      margin: 50px 0;
      min-width: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .formStatus{
        color: $brandReverseTextColor;
      }

      input {
        min-width: 360px;
        width: 75%;
        margin-bottom: $flexGutter;
        height: 40px;
      }

      textarea {
        min-width: 360px;
        width: 75%;
        height: 120px;
      }

      .button {
        width: 75%;
        min-width: 360px;
        margin: $flexGutter 0;
        border: none;
      }
    }
  }
}
